parameters:
    level: 8
    paths:
        - classes
    scanFiles:
        - tests/stubs/grav.php
        - tests/stubs/grav-api.php
    excludePaths:
        - tests/*
        # Requires grav-plugin-api + PSR-7 at runtime (Grav 2.0 only).
        - classes/Controllers/GravApiAdminController.php
    ignoreErrors:
        -
            message: '#Cannot access offset .* on object#'
            path: classes/Source/IcsParser.php
        -
            message: '#Access to an undefined property Sabre\\VObject\\Component\\VEvent::\$#'
            path: classes/Export/IcsExporter.php
        -
            message: '#Cannot assign offset .* to Sabre\\VObject\\Node#'
            path: classes/Export/IcsExporter.php
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
